<!-- [ngClass]="{'SCSSclassName': attributeName}" -->
<!-- <section class="card" [ngClass]="{
    'isActive': isActive,
    'hidden':!shown
  }" [ngStyle]="{'transform':flipStyle}">

  <div class="title">
    <img [src]="data.imageUrl" [alt]="'image profil'" />
    <div class="full_name">
      <span>{{ data.firstname }}</span>
      <span>{{ data.name }}</span>
    </div>
  </div>
  <span class="job">{{ data.job }}</span>
  <div class="footer">
    <span [appHighlight]="[' yellow', 'red' ]">{{ data.age }} yo,</span>
    <span [appHighlight]="[' black', 'blue' ]">{{ data.city }}</span>
  </div>
</section> -->

<section class="card">
  <mat-card>
    <mat-card-header>
      <div class="avatar" mat-card-avatar [ngStyle]="{'background-image':imageStyle}">
        <!-- <img [src]="data.avatar" alt=""> -->
      </div>
      <mat-card-title>{{data.first_name}} {{data.last_name}}</mat-card-title>
      <mat-card-subtitle>{{data.email}}</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
</section>
