<!-- Principal -->
<section class="container-fluid h-100">
  <div class="row">
    <div class="col-md-3 left">
      <app-side-bar-left></app-side-bar-left>
    </div>
    <div class="col-md-6">
      <div class="row navbar">
        <app-navbar></app-navbar>
      </div>
      <div class="row main">
        <app-main-content></app-main-content>
      </div>
    </div>
    <div class="col-md-3 right">
      <app-side-bar-right></app-side-bar-right>
    </div>
  </div>
</section>


<!-- template driven form demo -->
<!-- <section>
  <app-template-driven-form-demo></app-template-driven-form-demo>
</section> -->

<!-- reactive forms demo -->
<!-- <app-reactive-form-demo></app-reactive-form-demo> -->

<!-- reactive form groups -->
<!-- <app-reactive-form-group-demo></app-reactive-form-group-demo> -->

<!-- Cards with http request -->
<!-- <app-http-card></app-http-card> -->
